In [8]:
import pandas as pd
import numpy as np

In [9]:
# Definindo tipos na mão, para consumir menos memória
df = pd.read_csv('Customers.csv', dtype={
    'CustomerID':np.dtype('int32'),
    'Gender':'category',
    'Age':np.dtype('int32'),
    'Annual Income ($)':np.dtype('int64'),
    'Profession':'category',
    'Work Experience': np.dtype('int32'),
    'Family Size': np.dtype('int32')
})

df.head()

,CustomerID,Gender,Age,Annual Income ($),Spending Score (1-100),Profession,Work Experience,Family Size
0,1,Male,19,15000,39,Healthcare,1,4
1,2,Male,21,35000,81,Engineer,3,3
2,3,Female,20,86000,6,Engineer,1,1
3,4,Female,23,59000,77,Lawyer,0,2
4,5,Female,31,38000,40,Entertainment,2,6

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2000 entries, 0 to 1999
Data columns (total 8 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   CustomerID              2000 non-null   int32
 1   Gender                  2000 non-null   category
 2   Age                     2000 non-null   int32
 3   Annual Income ($)       2000 non-null   int64
 4   Spending Score (1-100)  2000 non-null   int64
 5   Profession              1965 non-null   category
 6   Work Experience         2000 non-null   int32
 7   Family Size             2000 non-null   int32
dtypes: category(2), int32(4), int64(2)
memory usage: 67.0 KB

In [6]:
df.shape

(2000, 8)

In [13]:
df.dtypes

CustomerID                   int32
Gender                    category
Age                          int32
Annual Income ($)            int64
Spending Score (1-100)       int64
Profession                category
Work Experience              int32
Family Size                  int32
dtype: object

In [3]:
# Deixando o nome das colunas em lowercase
df.columns = [col.lower() for col in df.columns]

In [12]:
# Verificando percentual de valores nulos por coluna
df.isna().sum() / len(df) * 100

CustomerID                0.00
Gender                    0.00
Age                       0.00
Annual Income ($)         0.00
Spending Score (1-100)    0.00
Profession                1.75
Work Experience           0.00
Family Size               0.00
dtype: float64